@page "/counter"
@page "/counter/{int:startCount}"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    public int startCount;
    private int currentCount = 0;

    public Counter(startCount)
    {
        
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
