@page "/"
@page "/tulsaPage/{OrderId:int}"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@OrderId

@code {
        [Parameter] public int OrderId {get; set;}
}